@use 'sass:map';
@use '~@angular/material/theming' as material;

@mixin custom-styles($theme) {
  $background: map.get($theme, background);
  $warn: map.get($theme, warn);

  html, body {
    height: 100%;
  }

  body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;

    * {
      box-sizing: border-box;
    }
  }

  .text-warn {
    color: material.mat-color($warn, text);
  }

  .custom-mat-dialog {
    .mat-dialog-actions {
      // due to box-sizing: border-box; adjust dialog-actions margin
      margin-bottom: -16px;
    }
  }

  $margin: 16px;

  .list-item {
    margin: 0 0 $margin;

    display: block;
    cursor: pointer;

    &:first-child {
      margin-top: $margin;
    }
  }

  .bg-hover:hover {
    background-color: material.mat-color($background, hover);
  }

  .bg-card {
    background-color: material.mat-color($background, card);
  }

  .cursor-pointer {
    cursor: pointer;
  }
}
