:host {
  display: block;
  height: 100%;
  width: 100%;

  .status-container {
    position: relative;
    height: 100%;
    width: 100%;

    &__content {
      height: 100%;
      width: 100%;
    }

    &__loading-indicator,
    &__error {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
