<mat-sidenav-container
  class="h-100 w-100"
>

  <mat-sidenav #sidenav mode="push">
    <mat-nav-list>
      <a mat-list-item routerLink="/sessions">Sessions</a>
      <a mat-list-item routerLink="/tags">Tags</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar color="primary">
      <button (click)="sidenav.open()" mat-button>
        <mat-icon>menu</mat-icon>
      </button>

      <a mat-button routerLink="">Time Tracker</a>
      <span class="flex-fill"></span>

      <ng-container *ngIf="isSignedIn$ | async; else loginBtnTemplate">
        <button (click)="onSignOut()" mat-button>Sign Out</button>
      </ng-container>

    </mat-toolbar>

    <div class="content mt-3">
      <div class="container-xl h-100">
        <app-router-container></app-router-container>
      </div>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>


<ng-template #loginBtnTemplate>
  <a mat-button routerLink="/login" routerLinkActive="active">Sign In</a>
</ng-template>
