@import 'variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/utilities';
@import 'reset';
@import '~@angular/material/theming';

@include mat-core();

@import 'theme-dark';
@import 'reset-theme';

@mixin custom-styles($theme) {
  $warn: map-get($theme, warn);

  .text-warn {
    color: mat-color($warn, text);
  }

  .custom-mat-dialog {
    .mat-dialog-actions {
      // due to box-sizing: border-box; adjust dialog-actions margin
      margin-bottom: -16px;
    }
  }
}

@mixin app-theme($theme) {
  @include app-theme-reset($theme);
  @include angular-material-theme($theme);
  @include custom-styles($theme);
}

@include app-theme($app-dark-theme);

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;

  * {
    box-sizing: border-box;
  }
}
