@use 'sass:meta';
@use 'sass:map';
@use '~@angular/material/theming' as material;

@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/assets/icons.css';

@mixin ngx-datatable-app-theme($theme) {
  $foreground: map.get($theme, foreground);
  $background: map.get($theme, background);
  $bg-color: material.mat-color($background, 'card');
  $text-color: material.mat-color($foreground, text);
  $hover-color: material.mat-color($background, hover);

  @include meta.load-css(
      '~@swimlane/ngx-datatable/themes/material.scss',
    $with: (
      // common datatable colors
      'ngx-datatable-background': $bg-color,
      // default row and cell background colors
      'ngx-datatable-default-background': $bg-color,
      'ngx-datatable-default-background-hover': $hover-color,
      // colors for header elements
      'datatable-header-cell-color': material.mat-color($foreground, secondary-text),
      'datatable-header-cell-background': $bg-color,
      'datatable-header-border-bottom-color': material.mat-color($foreground, divider),
      'datatable-header-resize-handle-color': material.mat-color($foreground, divider),
      // colors for table body elements
      'datatable-body-cell-color': $text-color,
      'datatable-row-detail-background': $bg-color,
      'datatable-group-header-background': material.mat-color($foreground, divider),
      'datatable-group-header-border-top-color': $bg-color,
      'datatable-group-header-border-bottom-color': $bg-color,
    )
  );

  .ngx-datatable.material {
    .datatable-body {

        .datatable-group-header {
          //height: 2rem;
          //display: flex;
          //flex-direction: row;
          //justify-content: end;
          //align-content: center;
        }

      .datatable-body-row {
        .datatable-body-cell {
          //display: flex;
          //flex-flow: column;
          //align-content: center;
          //padding: ;
        }
      }
    }
  }

}
